<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Group</title>
    <link rel="stylesheet" href="/html/static/css/style.css">
    <link rel="stylesheet" href="/html/static/css/group-info.css">
    <script src="/html/static/scripts/imageCropper.js"></script>
    <script src="/html/static/scripts/api.js"></script>
</head>
<body>
    <link rel="stylesheet" href="/html/static/css/user-banner.css">
    <div class="user-container">
        <img class="profile-icon" id="small-user-icon" alt="User Icon" src="/html/static/images/default-profile-image.svg" onclick="toggleUserCard()">
        <!--<div class="profile-icon" id="small-user-icon" onclick="toggleUserCard()"></div>-->
    </div>

    <div class="user-card">
        <div class="user-info">
            <img class="profile-icon" id="card-user-icon" alt="User Icon" src="/html/static/images/default-profile-image.svg">
            <!--<div class="profile-icon"></div>-->
            <div></div>
        </div>
        <div class="entry logout" onclick="window.location.href='/'">
            <svg class="icon logout-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                <path d="M10.95 15.84h-11V.17h11v3.88h-1V1.17h-9v13.67h9v-2.83h1v3.83z"/>
                <path d="M5 8h6v1H5zM11 5.96l4.4 2.54-4.4 2.54V5.96z"/>
            </svg>
            <span>로그아웃</span>
        </div>
    </div>

    <script>
        document.getElementsByClassName('logout')[0].addEventListener('click', function() {
            sessionStorage.removeItem('token');
            window.location.href = '/';
        });

        function toggleUserCard() {
            const userCard = document.querySelector('.user-card');
            
            if (userCard.style.display === 'none' || userCard.style.display === '') {
                userCard.style.display = 'flex';
            } else {
                userCard.style.display = 'none';
            }
        }

        document.addEventListener('click', function(event) {
            const userCard = document.querySelector('.user-card');
            const smallUserIcon = document.getElementById('small-user-icon');

            if (!userCard.contains(event.target) && !smallUserIcon.contains(event.target)) {
                userCard.style.display = 'none';
            }
        });

        async function fetchUserInfo() {
            try {
                const response = await fetchWithToken('/user/info');
                const data = await response.json();
                document.getElementById('small-user-icon').src = data.userImage;
                document.getElementById('card-user-icon').src = data.userImage;
                document.querySelector('.user-info div').innerText = data.userName;
            } catch (error) {
                console.error(error);
            }
        }
        fetchUserInfo();
    </script>
    <h2 class="banner">SKKULIFE</h2>
    <div class="wrapper">
        <div class="container">
            <div class="group-image-container">
                <img src="/html/static/images/default-group-image.svg" id="profile-image" alt="모임 이미지" class="image">
                <input type="file" name="group-image" accept="image/jpeg, image/png, image/jpg" style="display: none;">
            </div>
            <!-- First Section -->
            <span class="subtitle">모임 이름</span>
            <input class="groupName" type="text" required>
            <span class="subtitle" value="">모임 소개문</span>
            <textarea name="description" required></textarea>
            <hr>

            <!-- Second Section -->
            <span class="subtitle">모임 요일</span>
            <div class="flexbox checkbox-container">
                <label><input type="checkbox" name="day" value="monday">월요일</label>
                <label><input type="checkbox" name="day" value="tuesday">화요일</label>
                <label><input type="checkbox" name="day" value="wednesday">수요일</label>
                <label><input type="checkbox" name="day" value="thursday">목요일</label>
                <label><input type="checkbox" name="day" value="friday">금요일</label>
                <label><input type="checkbox" name="day" value="saturday">토요일</label>
                <label><input type="checkbox" name="day" value="sunday">일요일</label>
            </div>
            <span class="subtitle">모임 시간</span>
            <div class="flexbox timebox">
                <input type="time" name="starttime">
                <span>-</span>
                <input type="time" name="endtime">
            </div>
            <span class="subtitle">투표 마감 시간</span>
            <div class="flexbox voteend">
                <span class="one">모임 마감</span>
                <div class="flexbox voteendtime">
                    <input type="text" value="">
                    <span class="two">분 후</span>
                </div>
            </div>
            <span class="subtitle">인증 성공 퍼센트</span>
            <div class="flexbox percentage">
                <span class="spacer"></span>
                <input type="text" value="">
                <span class="text">% 이상</span>
            </div>
        </div>

        <div class="button-container">
            <button class="reactive-button update" onclick="postNewGroupInfo()">모임 생성</button>
        </div>
    </div>

    <script>
        async function postNewGroupInfo() {
            const groupName = document.getElementsByClassName('groupName')[0].value;
            const description = document.getElementsByName('description')[0].value;
            const groupImage = document.getElementsByName('group-image')[0].files[0];
            
            // Fetch User Info for email
            const response = await fetchWithToken('/user/info');
            const data = await response.json();
            const email = data.email;

            const dayMap = {
                monday: 0,
                tuesday: 1,
                wednesday: 2,
                thursday: 3,
                friday: 4,
                saturday: 5,
                sunday: 6
            };
            const days = Array.from(document.querySelectorAll('input[name="day"]:checked')).map(checkbox => dayMap[checkbox.value].toString());

            const startTime = document.getElementsByName('starttime')[0].value;
            const endTime = document.getElementsByName('endtime')[0].value;
            const voteEndTime = document.querySelector('.voteendtime input').value;
            const percentage = document.querySelector('.percentage input').value;

            const classCode = ("" + Math.random()).substring(2, 7);

            const formData = new FormData();
            formData.append('className', groupName);
            formData.append('manager', email);
            formData.append('classDescription', description);
            formData.append('classImage', groupImage);
            formData.append('classCode', classCode);
            
            days.forEach(day => {
                formData.append('classDate', day);
            });
            
            formData.append('classStartTime', startTime);
            formData.append('classEndTime', endTime);
            formData.append('voteEnd', voteEndTime);
            formData.append('votePercent', percentage);
            formData.append('penaltyType', 1);

            const createResponse = await fetchWithToken('/class/create-class', {
                method: 'POST',
                body: formData
            });

            if (!createResponse.ok) {
                console.error('Error creating group', createResponse.status, createResponse.statusText);
                alert('모임 생성에 실패했습니다. 다시 시도해주세요.');
            } else {
                const groupData = await createResponse.json();
                const classId = groupData.classId;
                sessionStorage.setItem('currentGroup', classId);
                window.location.href = '/main';
            }
        }
    
        const image = document.getElementById('profile-image');
        const fileInput = document.querySelector('input[type="file"]');

        image.addEventListener('click', () => {
            fileInput.click();
        });

        cropIfNotSquare(fileInput);

        const percentageInput = document.querySelector('.percentage input');
        percentageInput.addEventListener('input', () => {
            if (percentageInput.value > 100) {
                percentageInput.value = 100;
            } else if (percentageInput.value <= 0) {
                percentageInput.value = 1;
            }
        });
    </script>
</body>
</html>