<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이메일 인증</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/scripts/api.js" async></script>
    <script src="/static/scripts/swInstall.js" async></script>
</head>
<body>
    <h2 class="banner">SKKULIFE</h2>
    <div class="wrapper">
        <div class="container">
            <span class="subtitle">이메일 인증</span>
            <form id="verification-form">
                <input type="text" name="code" placeholder="이메일 인증 코드" required>
                <button type="submit">인증</button>
            </form>
        </div>
    </div>

    <script>
        function checkPOSTable() {
            const submitButton = document.querySelector('button[type="submit"]');
            const code = document.querySelector('input[name="code"]').value;
    
            if (code === '') {
                submitButton.disabled = true;
            } else {
                submitButton.disabled = false;
            }
        };
    
        document.querySelector('input[name="code"]').addEventListener('input', checkPOSTable);
        document.addEventListener('DOMContentLoaded', checkPOSTable);

        document.getElementById('verification-form').addEventListener('submit', async function(event) {
            event.preventDefault();
            const formData = new FormData(this);
            const jsonData = {};
            formData.forEach((value, key) => {
                jsonData[key] = value;
            });
            try {
                const response = await fetchWithToken('/auth/verify-code', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(jsonData)
                });

                if (response.ok) {
                    try {
                        navigator.serviceWorker.controller.postMessage({
                            type: 'CLEAR_USER_DATA'
                        });
                    } catch (error) {
                        if (error.name === 'TypeError') {
                            console.warn('Service Worker is not available.'); // Allow web to continue; SW error is not critical
                        } else {
                            console.error('Service Worker error:', error);
                        }
                    }
                    window.location.href = '/info';
                } else {
                    alert('인증 코드가 올바르지 않습니다.');
                }
            } catch (error) {
                console.error('Verification error:', error);
            }
        });
    </script>
</body>
</html>