<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="/html/static/css/style.css">
    <link rel="stylesheet" href="/html/static/css/group-intro.css">
    {% include 'user-banner.html' %}
</head>

<body>
    <h2 class="banner">SKKULIFE</h2>
    <div class="wrapper">
        <div class="container">
            <button class="reactive-button" onclick=location.href="create-group">모임 만들기</button>
            <button class="reactive-button" onclick=location.href="join_group">모임 참여하기</button>
        </div>
    </div>
</body>
</html>