<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 정보</title>
    <link rel="stylesheet" href="/html/static/css/style.css">
    <link rel="stylesheet" href="/html/static/css/info.css">
    <script src="/html/static/scripts/api.js"></script>
    <script src="/html/static/scripts/swInstall.js" async></script>
</head>
<body>
    <link rel="stylesheet" href="/html/static/css/user-banner.css">
    <div class="user-container">
        <img class="profile-icon" id="small-user-icon" alt="User Icon" src="/html/static/images/default-profile-image.svg" onclick="toggleUserCard()">
        <!--<div class="profile-icon" id="small-user-icon" onclick="toggleUserCard()"></div>-->
    </div>

    <div class="user-card">
        <div class="user-info">
            <img class="profile-icon" id="card-user-icon" alt="User Icon" src="/html/static/images/default-profile-image.svg">
            <!--<div class="profile-icon"></div>-->
            <div></div>
        </div>
        <div class="entry logout" onclick="window.location.href='/'">
            <svg class="icon logout-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                <path d="M10.95 15.84h-11V.17h11v3.88h-1V1.17h-9v13.67h9v-2.83h1v3.83z"/>
                <path d="M5 8h6v1H5zM11 5.96l4.4 2.54-4.4 2.54V5.96z"/>
            </svg>
            <span>로그아웃</span>
        </div>
    </div>
    <script src="/html/static/scripts/userBanner.js"></script>

    <h2 class="banner">SKKULIFE</h2>
    <div class="wrapper">
        <div class="container">
            <span class="title">계정 정보</span>
            <div class="user-info">
                <img class="icon" id="user-icon" alt="User Icon" src="/html/static/images/default-profile-image.svg">
                <span id="user-name"></span>
            </div>
            <!--
            <div class="change-username">
                <input title="new-username" type="text" id="new-username" value="{{ username }}"></input>
                <button type="button" onclick="changeUsername()">변경</button>
            </div>
            -->
            <hr>
            <span class="subtitle">이메일</span>
            <span id="user-email"></span>
            <hr>
            <span class="subtitle" style="margin-bottom: 10px;">가입된 모임</span>
            <div class="group-list"></div>
            <hr>
            <button class="new_group" onclick="location.href='/group-intro'">모임 추가</button>
        </div>

        <!--<button class="delete-account" onclick="location.href='/deleteAccount'">계정 삭제</button>-->
    </div>
    
    <script>
        async function updateContainer() {
            try {
                const response = await fetchWithToken('/user/info');
                const data = await response.json();
                if (data) {
                    document.getElementById('user-name').innerText = data.userName;
                    document.getElementById('user-email').innerText = data.email;
                    document.getElementById('user-icon').src = data.userImage;

                    const groupList = data.userClass;
                    const groupListContainer = document.querySelector('.group-list');
                    groupListContainer.innerHTML = '';
                    if (groupList && groupList.length > 0) {
                        groupList.forEach(group => {
                            const groupDiv = document.createElement('div');
                            groupDiv.className = 'group';
                            groupDiv.innerHTML = `
                                <span class="groupName">${group.className}</span>
                                <button class="reactive-button" type="button">정보</button>
                                <button class="button" type="button">탈퇴</button>
                            `;

                            if (data.email == group.manager) {
                                groupDiv.querySelector('.button').style.display = 'none';
                                groupDiv.querySelector('.button').disabled = true;
                            }
                            groupListContainer.appendChild(groupDiv);

                            const infoButton = groupDiv.querySelector('.reactive-button');
                            const leaveButton = groupDiv.querySelector('.button');

                            infoButton.addEventListener('click', () => setCurrentGroup(group.classId));
                            leaveButton.addEventListener('click', () => leaveGroup(group.classId));

                            infoButton.addEventListener('mouseover', async () => {
                                fetchWithToken('/class/' + group.classId);
                            })
                        });
                    }
                } else return; // Not logged in
            } catch (error) {
                console.error("Error updating container: ", error);
            }
        }

        document.addEventListener('DOMContentLoaded', updateContainer);

        function toggleNotifications() {
            const notificationCard = document.getElementById('notification-card');
            if (notificationCard.style.display === 'none' || notificationCard.style.display === '') {
                notificationCard.style.display = 'block';
            } else {
                notificationCard.style.display = 'none';
            }
        }

        function leaveGroup(classId) {
            fetchWithToken('/class/leave-class', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "classId": classId
                })
            });

            navigator.serviceWorker.controller.postMessage({ 'type': 'CLEAR_USER_DATA' });
            updateContainer();
        }
    
        function setCurrentGroup(classId) {
            sessionStorage.setItem('currentGroup', classId);
            window.location.href = '/main';
        }
    </script>
</body>
</html>