<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모임 참여하기</title>
    <link rel="stylesheet" href="/html/static/css/style.css">
    <link rel="stylesheet" href="/html/static/css/join_group.css">
    <script src="/html/static/scripts/api.js"></script>
    <script src="/html/static/scripts/swInstall.js" async></script>
</head>
<body>
    <link rel="stylesheet" href="/html/static/css/user-banner.css">
    <div class="user-container">
        <img class="profile-icon" id="small-user-icon" alt="User Icon" src="/html/static/images/default-profile-image.svg" onclick="toggleUserCard()">
        <!--<div class="profile-icon" id="small-user-icon" onclick="toggleUserCard()"></div>-->
    </div>

    <div class="user-card">
        <div class="user-info">
            <img class="profile-icon" id="card-user-icon" alt="User Icon" src="/html/static/images/default-profile-image.svg">
            <!--<div class="profile-icon"></div>-->
            <div></div>
        </div>
        <div class="entry logout" onclick="window.location.href='/'">
            <svg class="icon logout-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                <path d="M10.95 15.84h-11V.17h11v3.88h-1V1.17h-9v13.67h9v-2.83h1v3.83z"/>
                <path d="M5 8h6v1H5zM11 5.96l4.4 2.54-4.4 2.54V5.96z"/>
            </svg>
            <span>로그아웃</span>
        </div>
    </div>
    <script src="/html/static/scripts/userBanner.js"></script>

    <h2 class="banner">SKKULIFE</h2>
    <div class="wrapper">
        <div class="container">
            <form id="join-group-form">
                <input type="text" name="classCode" placeholder="초대 코드"></input>
                <button type="submit">모임 참여하기</button>
            </form>
        </div>
    </div>
    <script>
        function checkInput() {
            const input = document.querySelector('input');
            const button = document.querySelector('button');
            if (input.value == '') {
                button.disabled = true;
            } else {
                button.disabled = false;
            }
        }
    
        document.querySelector('input').addEventListener('input', checkInput);
        checkInput();

        document.getElementById('join-group-form').addEventListener('submit', async function(event) {
            event.preventDefault();
            const formData = new FormData(this);
            const jsonData = {};

            formData.forEach((value, key) => {
                jsonData[key] = value;
            });

            const response = await fetchWithToken('/class/join-class', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(jsonData)
            });

            if (response.ok) {
                navigator.serviceWorker.controller.postMessage({
                    type: 'CLEAR_USER_DATA'
                });
                window.location.href = '/info';
            } else {
                alert('초대 코드가 올바르지 않습니다.');
            }
        })
    </script>
</body>
</html>