<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="/html/static/css/style.css">
    <link rel="stylesheet" href="/html/static/css/join_group.css">
    <script src="/html/static/scripts/api.js" defer></script>
    {% include 'user-banner.html' %}
</head>

<body>
    <h2 class="banner">SKKULIFE</h2>
    <div class="wrapper">
        <div class="container">
            <form action="/class/join-class" method="POST">
                <input type="text" name="classId" placeholder="초대 코드"></input>
                <button type="submit">모임 참여하기</button>
            </form>
        </div>
    </div>
    <script>
        function checkInput() {
            const input = document.querySelector('input');
            const button = document.querySelector('button');
            if (input.value == '') {
                button.disabled = true;
            } else {
                button.disabled = false;
            }
        }
    
        document.querySelector('input').addEventListener('input', checkInput);
        checkInput();
    </script>
</body>
</html>