<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="/html/static/css/style.css">
    <link rel="stylesheet" href="/html/static/css/signup.css">
    <script src="/html/static/scripts/signup.js" defer></script>
</head>
<body>
    <h2 class="banner">SKKULIFE</h2>
    <div class="wrapper">
        <div class="container">
            <h2>회원가입</h2>
            <form id="signup-form" action="/auth/signup" method="POST">
                <div class="profile-image-container">
                    <img src="/html/static/images/default-profile-image.svg" alt="프로필 이미지" class="image">
                    <input type="file" name="profile-image" accept="image/jpeg, image/png, image/jpg" style="display: none;">
                </div>
                <input type="text" name="name" placeholder="이름" required>
                <!--
                <div class="email-container">
                    <input type="text" name="email" placeholder="이메일" required>
                    <span class="spacer"></span>
                    <button id="validate" type="button">인증</button>
                </div>
                -->
                <input type="text" name="email" placeholder="이메일" required>
                <!--<input type="text" name="code" placeholder="인증 코드" required>-->
                <input type="password" name="pwd" placeholder="비밀번호" required>
                <input type="password" name="password-confirm" placeholder="비밀번호 확인" required>
                <!--
                <div class="checkbox-container">
                    <input type="checkbox" id="agree">
                    <label for="agree" onclick="toggleTickBoxWithText()">
                        <span class="agreeText">벌칙 알림 수신에 동의합니다.</span>
                    </label>
                </div>
                -->
                <button id="signup-button" type="submit" disabled>회원가입</button>
            </form>
        </div>
    </div>
</body>
</html>

<script>
    const form = document.getElementById('signup-form');
    form.addEventListener('submit', async function (event) {
        event.preventDefault();
        const formData = new FormData(form);
        formData.delete('password-confirm');

        const response = await fetch(form.action, {
            method: form.method,
            body: formData
        })
        
        if (response.ok) {
            const data = await response.json();
            sessionStorage.setItem('token', data.token);
            window.location.href = '/info';
        } else {
            alert('오류가 발생했습니다. 다시 시도해주세요.');
        }
    });
</script>