<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/signin.css">
    <script src="/static/scripts/api.js" async></script>
    <script src="/static/scripts/swInstall.js" async></script>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <h1 class="logo">SKKU<br>LIFE</h1>
            <form id="login-form">
                <input type="text" name="email" placeholder="이메일" required>
                <div class="password-container">
                    <input type="password" name="pwd" placeholder="비밀번호" required>
                    <span class="forgot-password" onclick="window.location.href='/forgot-password'" style="display: none;">비밀번호를 잊으셨나요?</span>
                </div>
                <button type="submit">로그인</button>
                <span class="signup" onclick="window.location.href='/signup'">회원가입</span>
            </form>
        </div>
    </div>

    <script>
            document.getElementById('login-form').addEventListener('submit', async function(event) {
            event.preventDefault();
            const formData = new FormData(this);
            const jsonData = {};

            formData.forEach((value, key) => {
                jsonData[key] = value;
            });

            const response = await fetch('https://nsptbxlxoj.execute-api.ap-northeast-2.amazonaws.com/dev/auth/signin', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(jsonData)
            });

            if (response.ok) {
                const data = await response.json();
                if (data.token === undefined) {
                    throw new Error('No token in response');
                }
                sessionStorage.setItem('token', data.token);
                try {
                    navigator.serviceWorker.controller.postMessage({ type: 'CLEAR_ALL_INFO' });
                } catch (error) {
                    if (error.name === 'TypeError') {
                        console.warn('Service Worker is not available.'); // Allow web to continue; SW error is not critical
                    } else {
                        console.error('Service Worker error:', error);
                    }
                }
                window.location.href = '/info';
            } else {
                if (response.statusText === 'Account not verified') {
                    alert('이메일 인증을 완료해주세요.');
                    window.location.href = '/email-verification';
                }
                alert('아이디와 비밀번호를 확인해주세요.');
            }
        })
    </script>
</body>
</html>