<!-- This file is not used -->

<link rel="stylesheet" href="/static/css/user-banner.css">
<div class="user-container">
    <img class="profile-icon" id="small-user-icon" alt="User Icon" src="/static/images/default-profile-image.svg" onclick="toggleUserCard()">
    <!--<div class="profile-icon" id="small-user-icon" onclick="toggleUserCard()"></div>-->
</div>

<div class="user-card">
    <div class="user-info">
        <img class="profile-icon" id="card-user-icon" alt="User Icon" src="/static/images/default-profile-image.svg">
        <!--<div class="profile-icon"></div>-->
        <div></div>
    </div>
    <div class="entry logout" onclick="window.location.href='/'">
        <svg class="icon logout-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
            <path d="M10.95 15.84h-11V.17h11v3.88h-1V1.17h-9v13.67h9v-2.83h1v3.83z"/>
            <path d="M5 8h6v1H5zM11 5.96l4.4 2.54-4.4 2.54V5.96z"/>
        </svg>
        <span>로그아웃</span>
    </div>
</div>

<script>
    document.getElementsByClassName('logout')[0].addEventListener('click', function() {
        sessionStorage.removeItem('token');
        window.location.href = '/';
    });

    function toggleUserCard() {
        const userCard = document.querySelector('.user-card');
        
        if (userCard.style.display === 'none' || userCard.style.display === '') {
            userCard.style.display = 'flex';
        } else {
            userCard.style.display = 'none';
        }
    }

    document.addEventListener('click', function(event) {
        const userCard = document.querySelector('.user-card');
        const smallUserIcon = document.getElementById('small-user-icon');

        if (!userCard.contains(event.target) && !smallUserIcon.contains(event.target)) {
            userCard.style.display = 'none';
        }
    });

    async function fetchUserInfo() {
        try {
            const response = await fetchWithToken('/user/info');
            const data = await response.json();
            document.getElementById('small-user-icon').src = data.userImage;
            document.getElementById('card-user-icon').src = data.userImage;
            document.querySelector('.user-info div').innerText = data.userName;
        } catch (error) {
            console.error(error);
        }
    }
    fetchUserInfo();
</script>